@using Inhouse.Repositorys;
@using Inhouse.Models;
@using Inhouse.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <style>
        .styled-select select
        {
            background: transparent;          
            padding: 5px;
            font-size: 16px;            
            border:1px solid #e0e0e0;height:33px;width:359px;margin-left:10px;
        }
    </style>

}
@{
 string lang=ViewBag.Lang as string;   
 }
@functions{
public IHtmlString GetbyKeyAndLang(string key,string lang)
{
     RepositoryLabel repLabel = new RepositoryLabel();
     Label label = repLabel.GetByKey(key);
    if(lang=="tr"){
        return Html.Raw(label.ValueTr) ;
    }else{
        return Html.Raw(label.ValueEn);
    }
}
}
  <div class="descption-box" style="background-color:#005fc3;height:30px;margin-top:20px;">
                <p style="padding:7px 0 0 14px;font-family:Calibri;font-size:17px;color:#ffffff;">@GetbyKeyAndLang("JobForm",lang)</p>
            </div>
<div>
    <p style="font-size:15px;color:#4d4d4d;margin:20px">
      @GetbyKeyAndLang("JobDesc",lang)
    </p>
</div>
 <div class="point-point">
 </div>
@using(Html.MultipartForm()){
<div class="clear-fix" style="margin:25px 0 50px 0px">
    <div style="float:left;" id="career-left">
        <ul class="clear-fix">
            <li>
                <p class="career-label-name">
                 @GetbyKeyAndLang("NameSurname",lang)
                </p>
             
            </li>
            <li>
<div class="box-input">
     <input type="text" value=""  id="name_surname" name="name_surname" />
        </div>
            </li>
            <li>
               
            </li>
        </ul>
        <ul class="box-form-row clear-fix">
            <li>
                <p class="career-label-name">
                    @GetbyKeyAndLang("Mail",lang)
                </p>
             
            </li>
            <li>
<div class="box-input">
     <input type="text" value="" id="email" name="email"  />
        </div>
            </li>
            <li>
              
            </li>
        </ul>
        <ul class="box-form-row clear-fix">
            <li>
                <p class="career-label-name">
                  @GetbyKeyAndLang("Phone",lang)
                </p>
             
            </li>
            <li>
<div class="box-input">
     <input type="text" value="" id="phone" name="phone" />
        </div>
            </li>
            <li>
               
            </li>
        </ul>
         <ul class="box-form-row clear-fix">
            <li>
                <p class="career-label-name">
                    @GetbyKeyAndLang("Position",lang)
                </p>
             
            </li>
            <li>
                <div class="styled-select">
<select id="job_option" name="job_option">
@foreach (var t in @GetbyKeyAndLang("OptionPosition",lang).ToString().Split(','))
{
<option>@t</option>
}
    </select>
</div>
            </li>
            <li>
               
            </li>
        </ul>
         <ul class="box-form-row clear-fix">
            <li>
                <p class="career-label-name">
                    @GetbyKeyAndLang("Message",lang)
                </p>
             
            </li>
            <li>

    <textarea id="message" name="message">

    </textarea>
   
            </li>
            <li>
              
            </li>
        </ul>
          <ul class="box-form-row clear-fix">
            <li>
                <p class="career-label-name" style="padding-top:5px !important">
                    @GetbyKeyAndLang("UploadCv",lang)
                </p>
             
            </li>
            <li>
                <div style="margin-left:10px;width:359px;">
                     <input type="file" id="file_cv" name="file_cv" style="outline:none;border:0;margin:0;padding:0;" />
                </div>
          
   
            </li>
            <li>
              @*  <img src="~/Content/images/pop-up_10.png" style="margin:10px 0 0 10px" />*@
            </li>
        </ul>
         <ul class="box-form-row clear-fix">
            <li>
                <p class="career-label-name">
                   &nbsp;
                </p>
             
            </li>
            <li>
                <div style="margin-left:10px;width:359px;">
                     <input type="submit" value="@GetbyKeyAndLang("Send",lang)" id="send_btn"  style="outline:none;border:0;margin:0;padding:0;" />
                </div>
          
   
            </li>
            <li>
               @* <img src="~/Content/images/pop-up_10.png" style="margin:10px 0 0 10px" />*@
            </li>
        </ul>
    </div>
    <div style="float:right">
        <img src="~/Content/images/Kariyer_03.png" />
    </div>
</div>
}
<script>
    function validateEmail() {
        //testing regular expression
        var a = $("#email").val();
        var filter = /^[a-zA-Z0-9]+[a-zA-Z0-9_.-]+[a-zA-Z0-9_-]+@@[a-zA-Z0-9]+[a-zA-Z0-9.-]+[a-zA-Z0-9]+.[a-z]{2,4}$/;
        //if it's valid email
        if (filter.test(a)) {
            $("#email").parent().parent().next().html('<img src="/Content/images/pop-up_10.png" style="margin: 10px 0px 0px 10px; "/>')
            return true;
        }
            //if it's NOT valid
        else {
            $("#email").parent().parent().next().html('<img src="/Content/images/pop-up_07.jpg" style="margin: 10px 0px 0px 10px; "/>')
            return false;
        }
    }
    function validateName() {
        //if it's NOT valid		  
        if ($(name_surname).val().length < 5) {
            $("#name_surname").parent().parent().next().html('<img src="/Content/images/pop-up_07.jpg" style="margin: 10px 0px 0px 10px; "/>')
            return false;
        }
            //if it's valid
        else {
            $("#name_surname").parent().parent().next().html('<img src="/Content/images/pop-up_10.png" style="margin: 10px 0px 0px 10px; "/>')
            return true;
        }
    }
    function validatePhone() {
        //if it's NOT valid		  
        if ($(phone).val().length < 5) {
            $("#phone").parent().parent().next().html('<img src="/Content/images/pop-up_07.jpg" style="margin: 10px 0px 0px 10px; "/>')
            return false;
        }
            //if it's valid
        else {
            $("#phone").parent().parent().next().html('<img src="/Content/images/pop-up_10.png" style="margin: 10px 0px 0px 10px; "/>')
            return true;
        }
    }
    function validateJob() {
        if ($("#job_option").val() == "Lütfen Seçiniz" || $("#job_option").val() == "Please Select") {
            $("#job_option").parent().parent().next().html('<img src="/Content/images/pop-up_07.jpg" style="margin: 10px 0px 0px 10px; "/>')
            return false;
        }
        else {
            $("#job_option").parent().parent().next().html('<img src="/Content/images/pop-up_10.png" style="margin: 10px 0px 0px 10px; "/>')
            return true;
        }
    }
    function validateMessage() {
        //if it's NOT valid		  
        if ($(message).val().length < 9) {
            $("#message").parent().next().html('<img src="/Content/images/pop-up_07.jpg" style="margin: 10px 0px 0px 10px; "/>');
            return false;
        }
            //if it's valid
        else {
            $("#message").parent().next().html('<img src="/Content/images/pop-up_10.png" style="margin: 10px 0px 0px 10px; "/>');
            return true;
        }
    }
    $(function () {

        var name_surname = $("#name_surname");
        var email = $("#email");
        var phone = $("#phone");
        var job_option = $("#job_option");
        var message = $("#message");
        email.blur(validateEmail);
        email.keyup(validateEmail);
        phone.blur(validatePhone);
        phone.keyup(validatePhone);
        name_surname.blur(validateName);
        name_surname.keyup(validateName);
        job_option.blur(validateJob);
        job_option.change(validateJob);
        job_option.keyup(validateJob);
        message.blur(validateMessage).keyup(validateMessage);
        $("#send_btn").click(function () {
            validateName();
            validateEmail();
            validatePhone();
            validateJob();
            validateMessage();
            if (validateEmail() && validateName() && validatePhone() && validateJob() && validateMessage()) {
                return true;
            } else
                return false;
		    });
    });
   

</script>