@model Inhouse.Models.Spot
@using Inhouse.Models;
@using Inhouse.Areas.ManagementPanel.Controllers;
@using Inhouse.Repositorys;
@using Microsoft.Web.Mvc;
@using Inhouse.Helpers;
@{
    ViewBag.Title = "ListSpot";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_LayoutPage1.cshtml";
}

<h2>ListSpot</h2>
<div id="haberForm" style="display:none;border:1px dotted #ccc;width:300px;">
  <script src="/Scripts/MicrosoftAjax.js" type="text/javascript"></script>
  <script src="/Scripts/MicrosoftMvcValidation.js" type="text/javascript"></script>
   @Html.ValidationSummary(true, "lütfen tekrar deneyiniz.")

 @using (Html.MultipartForm())
     { 
  <fieldset>
  <ol>
  <li>
  @Html.HiddenFor(x=>x.SpotId)
  </li>
 

    <li>
    <ul>
    <li style="display:inline">
    <input type="submit" value="Kaydet" />
    </li>
    <li style="display:inline"><input type="button" value="iptal" class="kapatForm" /></li>
    </ul>
    </li>
  </ol>

  </fieldset>     
   }
  </div> 
    <div style="padding:5px;">
    @(Html.ActionLink<SpotPanelController>(x => x.NewSpot(),"Yeni Kayıt"))
   </div>

 <div id="main_content">  
    <div id="admin_header">
    	<div class="admin_index_title">Spot</div>      
        
    
    </div>
    <div id="admin_header_border"></div>   
 @using (Html.BeginForm())
 { 	
 <div class="grid">
 
                <table cellspacing="0" cellpadding="0" id="tbusers">
                    <tr>                   	
                        <th style="width:5px;"><a href="#" class="pink">ID</a></th>
                        <th style="width:20px;"><a href="#" class="pink">Resmi</a></th>                                                                                        
                        <th style="width:15px;"><a href="javascript:void(0)" class="pink"></a></th>                                      
                    </tr>
                    @{ 
                        int i = 1;
                        var _repRef = new RepositorySpot();                       
                        var _refes = _repRef.GetAll();
                     }
                   @foreach (var item in _refes)
                   {
                       string cssClass = "";
                     
                       if (i % 2 == 1)
                       { cssClass = "odd"; }
                       else
                       {
                           cssClass = "even";
                           i++;
                       }
                    
                    <tr class="@cssClass">
                      <td>@item.SpotId</td>
                      <td><img src="@item.Path" alt="" width="150" height="150" /></td>         
                        <td>     
                            @(Html.ActionLink<SpotPanelController>(x => x.UpdateSpot(item.SpotId), "Güncelle"))
                         <a href="javascript:void(0)" class="delete">Sil</a>
                        </td>        
                            
                    </tr>			
                    }           
                                                                                                                 
                </table>
       
        </div>      
        }       
	</div>
     @Html.Partial("Editor")	
    <script language="javascript" type="text/javascript">
    jQuery(document).ready(function () {
        $(".delete").click(function () {
            var tr = $(this).parents("tr");
            var id = parseInt($(tr).children("td:eq(0)").text());
            var result = confirm("Silmek istediğinizden eminmisiniz?");
            if (result) { 
             var url= "@Url.Action("Delete",new{id=""})";
            //alert(url);
            url=url+"/"+id;
             submitform(url);
            }
        });
        $(".yeniKayit").click(function () {
            yeniKayit();
            $("#haberForm").css("display", "block");
        });
        $(".kapatForm").click(function () {
            yeniKayit();
            $("#haberForm").css("display", "none");
        });
        $(".guncelle").click(function () {
            $("#haberForm").css("display", "block");
            var tr = $(this).parents("tr");
            var id = parseInt($(tr).children("td:eq(0)").text());
            var page_name = $(tr).children("td:eq(1)").text();
            $('#checkBox').attr('checked')
            var aktive=$(tr).children("td:eq(2)");
            

          var pas = $(tr).children("td:eq(2)").text();
            $("#UserId").val(id);
            $("#UserName").val(jQuery.trim(bas));   
             $("#Password").val(jQuery.trim(pas));               
        });
    });
    
    function yeniKayit() {     
     $("#UserId").val("");
            $("#UserName").val("");   
             $("#Password").val("");     
             
    }
    function submitform(url) {
        document.forms[1].action = url;
        document.forms[1].submit();
    }
 
</script>
   



