@model Inhouse.Models.Spot
@using Inhouse.Models;
@using Inhouse.Repositorys;
@using Inhouse.Helpers;
@using System.Web.Mvc;
@using Microsoft.Web.Mvc;
@using Inhouse.Areas.ManagementPanel.Controllers;
@{
    ViewBag.Title = "NewSpot";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Yeni Spot</h2>
 <h2>@ViewBag.Title</h2>
 @Html.ValidationSummary("lütfen hataları düzeltin ve tekrar deneyin.")
  <div id="main_content">     
    <div id="admin_header">
    	<div class="admin_addoffer_title"></div>
        
        <div class="right_buttons">       	

          <div class="right_button">
          @(Html.ActionLink<SpotPanelController>(c => c.ListSpot(), "Spot AnaSayfa"))
       
          </div>
        
        </div>
    
    </div>
    <div id="admin_header_border"></div>   
<div id="haberForm" style="border:1px dotted #ccc;width:990px;">
  <script src="/Scripts/MicrosoftAjax.js" type="text/javascript"></script>
  <script src="/Scripts/MicrosoftMvcValidation.js" type="text/javascript"></script>

 @using (Html.MultipartForm())
 { 
  <fieldset>
  <ol>
  <li>
  @Html.HiddenFor(x => x.SpotId)
  </li>
   <li style="margin-bottom:5px;margin-top:5px">
    <label> Aktif </label></li>
     <li>
     @Html.CheckBoxFor(x=>x.Active)
     </li>
  
        <li style="margin-bottom:5px;margin-top:5px">
    <label> Spot Resmi </label></li>
     <li>
<input type="file" id="film_image1" name="film_image1" /> 
@if (Model!=null && !string.IsNullOrEmpty(Model.Path))
{
<img src="@Model.Path" id="ref-pict1" alt="" width="150" height="150"  />
}
 </li>    
    <li>
    <ul>
    <li style="display:inline">
    <input type="submit" value="Kaydet" />
    </li>
    <li style="display:inline"><input type="button" value="iptal" class="kapatForm" /></li>
    </ul>
    </li>
  </ol>

  </fieldset>     
 }
  </div> 
  </div>


